[submodule "etc/skel/.vim/pack/plugins/start/vim-polyglot"]
	path = etc/skel/.vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "etc/skel/.vim/pack/plugins/start/vim-hackernews"]
	path = etc/skel/.vim/pack/plugins/start/vim-hackernews
	url = https://github.com/averyterrel/vim-hackernews
[submodule "etc/skel/.vim/pack/colors/start/vim"]
	path = etc/skel/.vim/pack/colors/start/vim
	url = https://github.com/catppuccin/vim
[submodule "etc/skel/.vim/pack/plugins/start/rainbow"]
	path = etc/skel/.vim/pack/plugins/start/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "etc/skel/.config/fish/pack/fish"]
	path = etc/skel/.config/fish/pack/fish
	url = https://github.com/catppuccin/fish
[submodule "etc/skel/.config/hypr/hyprland"]
	path = etc/skel/.config/hypr/hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "etc/skel/.config/rofi/pack/rofi"]
	path = etc/skel/.config/rofi/pack/rofi
	url = https://github.com/catppuccin/rofi
